<html>
    <head>
        <title>Blog</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body style="font-family: 'Ubuntu', sans-serif; font-size:15px;background-color:#ececec">  
        
            <nav class="navbar navbar-expand-sm navbar-dark bg-info">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarText">
                    <a class="navbar-brand"><i class="fa fa-superpowers" style="display:inline" aria-hidden="true"></i><h2 style="display:inline">  My Blog </h2></a>
                    <ul class="navbar-nav ml-auto">
                      <%if(!isAuthenticated){%>
                      <li class="nav-item">
                        <a class="nav-link"  onMouseOver="this.style.color='white'" href="/"><h3><i class="fa fa-home" aria-hidden="true"></i> Home </h3></a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link"  onMouseOver="this.style.color='white'" href="/login"><h3><i class="fa fa-user" aria-hidden="true"></i> Login</h3></a>
                      </li>
                      <li class="nav-item">
                      <form class="form-inline" action="/blogs" method="GET">
                        <div class="form-group">
                            <input class="form-control mt-sm-3" id="myInput" type="text"  name="search" placeholder="Search" aria-label="Search" style="width:200px;height: 30px;font-size:18px;">
                            <button class="btn btn-success my-2 my-sm-0 mt-sm-3" type="submit" value="search"><h3><i class="fa fa-search" aria-hidden="true"></i></h3></button>
                        </div>
                        </li>
                      </form>
                     <%}%>
                    </ul>
                    
            </div>
            </nav>
            
      