<%- include("partials/header")%>
<style>
    ul{
        height:200%;
        width:15%;
    }
    li{
        margin-top:20px;
        z-index:0;
    }
    i{
        color:white;
        padding-left:10px;
      }
    a h1{
        
        color:black;
        font-weight:bold;
    }
    img{
        height:150px;
        width:250px;
    }
    h4{
        font-weight:bold;
    }
    .description{
        color:#A9A9A9;
    }
    .row{
        background-color:white;
    }
    a:hover{
        font-size:150%;
    }
    
</style>
<div class="page-header text-center">
    <h1>Admin panel</h1>
</div>

<ul class="nav navbar-nav navbar-left navbar-light bg-info" style="margin-top: 0;">
        <li class="nav-item"><a class="nav-link" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" href="/admin/allblogs" style="padding-left:20px;color:white;">All blogs</a></li>
        <li class="nav-item"><a class="nav-link" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" href="/admin/blogs/new" style="padding-left:20px;color:white;">Add new blogs</a></li>
        <li class="nav-item"><a class="nav-link" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" href="/admin/allcategory" style="padding-left:20px;color:white;">All category</a></li>
        <li class="nav-item"><a class="nav-link" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" href="/admin/category/new" style="padding-left:20px;color:white;" >Add new category</a></li>
        <li class="nav-item"><a class="nav-link" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" href="/logout" style="padding-left:20px;color:white;" >Logout</a></li>
</ul>

<div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <%blogs.forEach(function(blogs){%>
                    <div class="item">
                        <div class="row " style="margin-top: 30px;height:200px">
                            <div class="col-md-3 col-sm-12 order-1">
                                <div class="image" >
                                        <img src="<%=blogs.image%>">
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 order-2">
                            <div class="content">
                            <a class="header" href="/blogs/<%=blogs._id%>" style="text-decoration-color:black;">
                                <h1><%=blogs.title%></h1>
                            </a>
                            </h2>
                            </div>
                            <div class="meta pull-right">
                                    <span><%=blogs.created.toDateString()%></span>
                            </div>
                            <div class="content">
                                <h4>#<%=blogs.category%></h4>
                            </div>
                           
                            <div class="description">
                                <p><%- blogs.content.substring(0,100)%></p>
                            </div>
                            </div>
                        </div>
                            </div>
                <%})%>           
                
            </div>
            </div>
        </div>
    </div>
