<%- include("partials/header")%>
 <style>
    th,td{
        padding:15px;
        border-bottom: 1px solid #ddd;
    }
    tr:hover{
        background-color: #f5f5f5;
    }
</style> 
<body>
<div class="container">

<h1>All blogs</h1>

<table style="width:100%;background:white;">
    <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Actions</th>
    </tr>
    <%blogs.forEach(function(blogs){%>
        <tr>
            <td><%=blogs.title.substring(0,20)%></td>
            <td><%=blogs.category%></td>
            <td><%-blogs.content.substring(0, 30)%></td>
            <td>
                
                <a href="/admin/blogs/<%=blogs._id%>/edit"><button class="btn btn-lg btn-primary">Edit</button></a>
                
                <form style="display:inline" action="/admin/blogs/<%=blogs._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger ">Delete</button>
                </form>
                </div>
            </td>
        </tr>
    <%})%>
</table>
</div>
</body>
<%- include("partials/footer")%>