<%- include("partials/header")%>;
<div class="container">
    
        <h1 style="text-align:center">Add new blog</h1>
    
        <div style="width:30% ;margin:25px auto;">
        <form action="/admin/allcategory" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="category" placeholder="title">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block" >Save</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-danger btn-block" >Cancel</button>
            </div>
        </form>
        </div>
</div>
<%- include("partials/footer")%>;