<%- include("partials/header")%>
<style>
    th,td{
        padding:15px;
        border-bottom: 1px solid #ddd;
    }
    tr:hover{
        background-color: #f5f5f5;
    }
</style>
<div class="container">

<h1>All blogs</h1>

<table style="width:100% ;background:white;">
    <tr>
    <th>Category</th>
    <th>Actions</th>
    </tr>
<tr>
    <%category.forEach(function(category){%>

    
            <td><%=category.name%></td>
            <td>
                
                <a href="/admin/category/<%=category._id%>/edit"><button class="btn btn-lg btn-primary">Edit</button></a>
                
                <form style="display:inline" action="/admin/category/<%=category._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger ">Delete</button>
                </form>
               
            </td>
        </tr>
    <%})%>
</table>
</div>

<%- include("partials/footer")%>