<%- include("partials/header")%>;
<div class="container">
    
        <h1 style="text-align:center">Edit <%=category.title%></h1>
    
        <div style="width:30% ;margin:25px auto;">
        <form action="/admin/category/<%=category._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="category[name]" placeholder="title" value="<%=category.name%>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block" >Add</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-danger btn-block" >Back</button>
            </div>
        </form>
        </div>
</div>
<%- include("partials/footer")%>;