<%- include("partials/header") %>
<div class="container">
    
    <h1 style="text-align:center">Edit <%=blog.title%></h1>

    <div style="width:30% ;margin:25px auto;">
    <form action="/admin/blogs/<%= blog._id%>?_method=PUT" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="blog[title]" value="<%=blog.title%>">
        </div>
        <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="blog[slug]" value="<%=blog.slug%>">
        </div>
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" type="text" name="blog[category]" value="<%=blog.category%>">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="text" name="blog[image]" value="<%=blog.image%>">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" name="blog[content]" value="<%=blog.content%>">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>
        <a href="/admin">Go back</a>
    </div>


</div>
<%- include("partials/footer") %>
