<%- include("partials/header") -%>
<style>
    h1{
        color:black;
        font-weight: bold;
        
    }
    .description{
        color:#A9A9A9;
    }
    img{
        height:150px;
        width:250px;
    }
    p{
        font-size:18px;
    }
    h4{
        font-weight:bold;
    }
    .row{
        background:white;
    }
    .jumbotron{
        background-color:white;
    }
</style>
<!-- <div class="container">
    <div class="jumbotron">
        <h1>Blogs</h1>
    </div> -->
    <div class="container">
        
            <div class="row">
                <div class="col-md-12">
                    <%blogs.forEach(function(blogs){%>
                        <div class="item">
                            <div class="row " style="margin-top: 30px;height:200px">
                                <div class="col-lg-3 col-md-12 order-1">
                                    <div class="image">
                                            <img src="<%=blogs.image%>">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 order-2">
                                    <div class="content">
                                        <a class="header" href="/blogs/<%=blogs._id%>"  style="text-decoration-color:black">
                                            <h1><%=blogs.title%></h1>
                                        </a>
                                
                                    </div>
                                <div class="meta pull-right">
                                        <span><h3><%=blogs.created.toDateString()%></h3></span>
                                </div>
                                <div class="content">
                                    <h4>#<%=blogs.category%></h4>
                                </div>
                               
                                <div class="description">
                                    <p><%- blogs.content.substring(0,100)%></p>
                                </div>
                                </div>
                            </div>
                                </div>
                    <%})%>           
                    
                </div>
                </div>
                
            </div>
    
      
    
<!-- 
</div> -->
<%- include("partials/footer") -%>