<%- include("partials/header") -%>

<div class="container">

<h1 style="text-align:center">Login</h1>
    
<div style="width:30% ;margin:25px auto;">
<form action="/login" method="POST">
    <div class="form-group">
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="password">
    </div>
    <div class="form-group">
    <input class="btn btn-lg btn-success form-control" type="submit" value="Login">
    </div>
</form>
</div>
</div>

<%- include("partials/footer") -%>