<%- include("partials/header")%>;
<div class="container">
    
        <h1 style="text-align:center">Add new blog</h1>
        <div style="width:50% ;margin:25px auto;">
        <form action="/admin/blogs" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="blog[title]" placeholder="title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="blog[slug]" placeholder="name">
            </div>
            
            <div class="form-group">
                    <select id="category" name="blog[category]" style="width:100%;margin:25px auto;">
                       <%category.forEach(function(category){%>
                        <option value="<%=category.name%>"><%=category.name%></options>
                    <%})%>
                    </select> 
                </div>
            <div class="form-group">
                <input class="form-control" type="text" name="blog[image]" placeholder="image_url">
            </div>
            <div class="form-group">
                    <textarea class="form-control" type="textarea" id="editor1" name="blog[content]" placeholder="description"></textarea>
                    <script>
                        CKEDITOR.replace("editor1");
                    </script>
   
                </div>
      

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" onclick="getSelectdValue()">Save</button>
            </div>
        </form>
            <form action="/blogs" method="GET">
            <div class="form-group">
                <button class="btn btn-lg btn-danger btn-block">Cancel</button></a>
            </div>
            </form>
        
           
        </div>
    
    
    </div>
    <script>
    function getSelectedValue()
    {
         var e=document.getElementById("category");
         var result=e.options[e.selectedIndex].value;
         blog[category]=result;
    };    
    </script>
<%- include("partials/footer")%>