<%- include("partials/header") %>
<style>
    img{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius:8px;
    }
    h1{
        font-weight:bold;
        color:#262437;
    }
    .thumbnail{
        width:100%;
    }
    .caption-full h3{
        font-weight:bold;
        padding-left: 150px;
    }
    p{
        font-size:20px;
        width:90%;
        
    }
    .description{
        margin-top:80px;
        padding-left:50px;
    }
    img{
        margin-top:50px;
        width:80%;
    }
    h4{
        margin-right: 150px;
    }
</style>

<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="thumbnail"> 
                <h1 style="text-align: center;margin-top: 20px;"><a><%= blog.title%></a></h1>
                <img class="img-responsive" src="<%=blog.image%>">  
                
                <div class="content">
                        <h4 class="pull-right"><%=blog.created.toDateString()%></h4>
                </div>
                <div class="caption-full">
                    <h3>#<%=blog.category%> </h3>
                </div>
                <div class="description">
                    <p><%- blog.content%></p>
                </div>
            </div>
        </div>
    </div>
        
</div>
<%- include("partials/footer") %>